@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    background-color: #eeeeee;
    font-family: "Inconsolata", monospace;
    color: #330086;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #ffffff;
}

.menu .navbar ul li {
    position: relative;
    float: left;
    justify-content: space-between;
}

.menu .navbar ul li a {
    font-size: 22px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #9f63ff;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content{
    display: flex;
    width: 100%;
}

.header-1 {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-self: flex-end;
}

.header-1 img {
    width: 100px
}

.header-2 {
    width: 50%;
    margin-top:25px;
    text-align: start;
}

.header-2 h1 {
    color: #ffffff72;
    font-size: 18px;
    line-height: 25px;

}
.header-2 img{
    width: 100px
}

.btn-1{
    display: inline-block;
    padding: 7px 20px;
    background-color: #ffffff ;
    font-size: 20px;
}

.btn-2{
    width: 110px;
    display: inline-block;
    padding: 7px 20px;
    background-color: #330086;
    font-size: 20px;
    margin-top: 30px;
    color: #ffffff;
}

.movies {
    padding: 50px 0 0 0 ;
    display: flex;
    flex-direction: column;

}

h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #330086;
    width: 50%;
    margin-bottom: 40px;
}


.box-container-1 ,
.box-container-2 ,
.box-container-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px,1fr));
    gap: 40px ;
}

.box-1,
.box-2,
.box-3{
    border-radius: 10px;
    z-index: 1000;
    display: none;
 
}
.box-1:nth-child(1),
.box-1:nth-child(2),
.box-1:nth-child(3),
.box-1:nth-child(4){
    display: inline-block;
}
.box-2:nth-child(1),
.box-2:nth-child(2),
.box-2:nth-child(3),
.box-2:nth-child(4){
    display: inline-block;
}
.box-3:nth-child(1),
.box-3:nth-child(2),
.box-3:nth-child(3),
.box-3:nth-child(4){
    display: inline-block;
}


.load-more {
    margin-top: 40px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 15px;
    border: 1px solid #9f63ff;
    color: #9f63ff;
    font-size: 16px;
    cursor: pointer;
    align-self:flex-end;
}

.load-more:hover{
    background-color: #330086;
    color: #ffffff;
}

.content img {
    width: 100%;
    margin-bottom: 15px;
}

.content h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.content {
    color: #653aff;
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    margin-top: 100px;
    border-top: 1px solid #653aff
}

.footer ul {
    display: flex;

}

.footer h3 {
    font-size: 30px;
}

.footer a {
    color: #4f3bff;
    font-size: 20px;
    margin-right: 20px;
    display: block;
}